body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
    background: linear-gradient(to top, #0d0d0d, #111933);
    color: #fff;
}

#game-container {
    width: 100vw;
    height: 100vh;
}

#ui {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

#score, #multiplier {
    font-size: 24px;
    margin-bottom: 5px;
    text-shadow: 0 0 5px #ff0;
}
